@media (max-width: 1399px)
{
    .day .details .hours
    {
        grid-template-columns: 1fr;
    }

    .day .details .hours .hour
    {
        grid-template-columns: 1fr auto;
        gap: 0.5rem;
        padding: 0.5rem 0.75rem;
        text-align: left;
    }

    .day .details .hours .hour .overview
    {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .day .details .hours .hour .overview .grid
    {
        grid-template-areas: "time icon temperature forecast";
        grid-template-columns: auto auto auto auto;
        gap: 0.75rem;
    }

    .day .details .hours .hour .overview .time
    {
        font-weight: 600;
    }

    .day .details .hours .hour .overview .icon
    {
        padding: 0;
    }

    .day .details .hours .hour .overview .icon img
    {
        width: 40px;
        height: 40px;
    }

    .day .details .hours .hour .metas
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        border-top: 0px solid rgba(255, 255, 255, 0.2);
        font-size: 0.75rem;
    }

    .day .details .hours .hour .metas .grid
    {
        grid-template-areas: "precipitation rain wind humidity uv";
        grid-template-columns: auto auto auto auto auto;
        row-gap: 0.25rem;
        column-gap: 1rem;
    }

    .day .details .hours .hour .metas .meta
    {
        gap: 0.5rem;
    }

    .day .details .hours .hour .metas .meta .label .long
    {
        display: inline;
    }

    .day .details .hours .hour .metas .meta .label .short
    {
        display: none;
    }
}

@media (max-width: 1299px)
{
    .day .chart .wrapper-1
    {
        width: 100%;
        max-width: 100%;
        min-width: 0;
        overflow-x: auto;
        overflow-y: hidden;
        overscroll-behavior-x: contain;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .day .chart .wrapper-1::-webkit-scrollbar
    {
        display: none;
    }

    .day .chart .wrapper-2
    {
        width: 1899px;
        max-width: 1899px;
    }
}

@media (max-width: 1149px)
{
    .day .details
    {
        padding: 0.5rem 0 1.5rem 0;
    }

    .day .details .header
    {
        padding: 1rem 0;
        grid-template-areas: "title" "highlights" "summary";
        grid-template-columns: 1fr;
    }

    .day .details .header .title h1
    {
        text-align: center;
    }

    .day .details .header .highlights
    {
        display: block;
        margin-top: 0.5rem;
    }

    .day .details .header .highlights .wrapper
    {
        grid-template-columns: auto auto 1fr;
    }

    .day .details .header .highlights .overview
    {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
    }
    .day .details .header .summary
    {
        display: block;
        padding-top: 0.5rem;
    }

    .day .details .header .summary .content
    {
        width: 100%;
    }
    
    .day .details .hours
    {
        margin-top: 0rem;
    }
}

@media (max-width: 1099px)
{
    .day .chart .navigator
    {
        margin-top: 2rem;
        display: block;
    }

    .day .chart .navigator .arrow
    {
        width: 100%;
    }

    .day .chart .actions    
    {
        display: block;
        margin-top: 0.75rem;
    }

    .day .chart .actions .grid
    {
        width: 100%;
    }
}

@media (max-width: 849px)
{
    .day .details .header .summary .content
    {
        grid-template-columns: repeat(3, auto);
        row-gap: 0rem;
        column-gap: 0;
    }

    .day .details .header .summary .content .item:nth-child(3),
    .day .details .header .summary .content .item:nth-child(6)
    {
        padding-right: 0;
    }

    .day .details .header .summary .content .item:nth-child(1),
    .day .details .header .summary .content .item:nth-child(4)
    {
        padding-left: 0;
    }

    .day .details .header .summary .content .item:nth-child(1)::before,
    .day .details .header .summary .content .item:nth-child(4)::before
    {
        content: none;
    }

    .day .details .header .summary .content .item:nth-child(1),
    .day .details .header .summary .content .item:nth-child(2),
    .day .details .header .summary .content .item:nth-child(3)
    {
        padding-bottom: 0.75rem;
    }

    .day .details .header .summary .content .item:nth-child(4),
    .day .details .header .summary .content .item:nth-child(5),
    .day .details .header .summary .content .item:nth-child(6)
    {
        padding-top: 0.5rem;
        border-top: 1px dotted rgba(255, 255, 255, 0.3);
    }

    .day .details .hours .hour .metas .grid
    {
        grid-template-areas: "precipitation rain" "wind humidity" "empty uv";
        grid-template-columns: auto auto;
    }

    .day .details .hours .hour .metas .meta.empty
    {
        display: block;
    }
}

@media (max-width: 799px)
{
    .day .details .header .title h1
    {
        font-weight: 500;
        font-size: 1rem;
    }

    .day .chart .actions .toggle
    {
        display: block;
    }

    .day .chart .actions .toggle .btn
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;
    }

    .day .chart .actions .toggle .btn .icon
    {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        line-height: 0;
    }

    .day .chart .actions .toggle .btn .icon svg
    {
        display: block;
    }

    .day .chart .actions .grid
    {
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
        display: none;
        padding: 0.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
        border: 1px solid #e2e8f0;
    }

    .day .chart .actions .grid.show
    {
        display: grid;
    }
}

@media (max-width: 649px)
{
    .day .details .hours .hour .overview
    {
        text-align: left;
    }

    .day .details .hours .hour .overview .grid
    {
        grid-template-areas: "time time" "icon temperature" "forecast forecast";
        grid-template-columns: 34px auto;
        gap: 0.25rem;
    }

    .day .details .hours .hour .overview .time 
    {
        display: block;
    }

    .day .details .hours .hour .overview .icon img
    {
        width: 46px;
        height: 46px;
    }

    .day .details .hours .hour .overview .temperature
    {
        justify-content: flex-start;
        font-weight: 400;
    }

    .day .details .hours .hour .overview .temperature > div
    {
        position: relative;
        top: -2px;
    }

    .day .details .hours .hour .overview .temperature .value
    {
        padding-left: 0.25rem;
        font-size: 28px;
        line-height: 1;
    }

    .forecast .details .items .item .overview .temperature .unit
    {
        font-size: 16px;
        position: relative;
        top: 0px;
    }

    .day .details .hours .hour .overview .forecast
    {  
        display: block;  
        min-height: auto;
        font-size: 13px;
    }

    .day .details .hours .hour .metas .grid
    {
        grid-template-areas: "precipitation" "rain" "wind" "humidity" "uv";
        grid-template-columns: auto;
        row-gap: 0.125rem;
    }

    .day .details .hours .hour .metas .meta.empty
    {
        display: none;
    }
}

@media (max-width: 599px)
{
    .day .details .header .title h1
    {
        display: flex;
        flex-direction: column-reverse;
        direction: ltr;
        gap: 0.25rem;
    }

    .day .details .header .title h1 .weekday
    {
        font-size: 1.25rem;
    }

    .day .details .header .title h1 .forecast
    {
        font-size: 1rem;
        font-weight: 400;
    }

    .day .details .header .summary .content
    {
        grid-template-columns: repeat(2, auto);
    }

    .day .details .header .summary .content .item:nth-child(1),
    .day .details .header .summary .content .item:nth-child(3),
    .day .details .header .summary .content .item:nth-child(5)
    {
        padding-left: 0;
        border-left: none;
        padding-right: 1rem;
    }

    .day .details .header .summary .content .item:nth-child(2),
    .day .details .header .summary .content .item:nth-child(4),
    .day .details .header .summary .content .item:nth-child(6)
    {
        padding-right: 0;
        border-right: none;
        padding-left: 1rem;
        border-left: 1px dotted rgba(255, 255, 255, 0.3);
    }

    .day .details .header .summary .content .item:nth-child(3)
    {
        border-top: 1px dotted rgba(255, 255, 255, 0.3);
    }

    .day .details .header .summary .content .item:nth-child(3),
    .day .details .header .summary .content .item:nth-child(4)
    {
        padding-top: 0.5rem;
        padding-bottom: 0.75rem;
    }

    .day .details .header .highlights .temperature > div
    {
        font-size: 4rem;
    }
}

@media (max-width: 499px)
{
    .day .chart .navigator
    {
        display: block;
        margin-top: 1rem;
    }

    .day .chart .navigator .grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
    }

    .day .chart .navigator .arrow
    {
        width: 100%;
    }
}
