@media (max-width: 1399px)
{
    .container
    {
        padding: 0 1.5rem;
    }
}

@media (max-width: 999px)
{
    .container
    {
        padding: 0 1rem;
    }
}

@media (max-width: 499px)
{
    .container
    {
        padding: 0 0.75rem;
    }
}