.not-found
{
    display: flex;
    flex: 1;
}

.not-found .details
{
    display: flex;
    flex: 1;
    align-items: center;
    padding: 3rem 0;
    background: linear-gradient(to bottom, #079fe1, #30b0e6);
    color: #ffffff;
}

.not-found .details .container
{
    text-align: center;
}

.not-found .details .content
{
    margin: 0 auto;
    max-width: 32rem;
}

.not-found .details .code
{
    font-size: 7rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -0.25rem;
}

.not-found .details .title
{
    margin: 1.5rem 0 0;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.not-found .details .message
{
    margin: 0.75rem 0 0;
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.9375rem;
    line-height: 1.5rem;
}

.not-found .details .actions
{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
